<!-- Footer -->
<div id="footer-wrapper">
    <section id="footer" class="container">
        <div class="row">
            <div class="8u">
                <section>
                    <header>
                        <h2>More Episodes</h2>
                    </header>
                    <ul class="dates">
                    @foreach(IDocument post in Documents["Content"]
                        .Where(x => x.String("collection") == "episodes")
                        .OrderByDescending(x => x.Get<DateTime>("date")))
                    {
                        <li>
                            <span class="date">@(post.Get<DateTime>("date").ToString("MMM")) <strong>@(post.Get<DateTime>("date").Day)</strong></span>
                            <h3><a href="@Context.GetLink(post)">@post["title"]</a></h3>
                            <p>@post["shortdesc"]</p>
                        </li>
                    }
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>What's this all about?</h2>
                    </header>
                    <a href="#" class="image featured"><img src="@Model["banner"]" alt="" /></a>
                    <p>@Model["description"]</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Copyright -->
                    <div id="copyright">
                        <ul class="links">
                            <li>&copy; @Model["title"]. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>

            </div>
        </div>
    </section>
</div>
