@{
    var Lead = Model.String(BlogKeys.Lead);
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags);
}

<section id="banner">
  <div class="inner">
    <h2>@Model.WithoutSettings.String(BlogKeys.Title)</h2>
    @if(!string.IsNullOrWhiteSpace(Lead))
    {
        <p>@Lead</p>
    }                  
    @if (Published != default(DateTime))
    {
        <p><em>Published on @Published.ToLongDateString(Context)</em></p>
    }
    @if (Tags != null)
    {
        @foreach (string tag in Tags.OrderBy(x => x))
        {
            IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) == tag && x.Get<int>(Keys.CurrentPage) == 1);
            if(tagDocument != null)
            {                
                <a role="button" href="@Context.GetLink(tagDocument)" class="button small">@tag</a>
            }
        } 
    } 
  </div>
</section>