@model DocsTable

@{
	if(Model != null && Model.Docs != null && Model.Docs.Count > 0)
	{
		<text>
			<h1>@Model.Title</h1>
			<div class="box">
				<div class="box-body no-padding">
					<table class="table table-striped table-hover @(Model.HasSummary ? "two-cols" : string.Empty)">
						<thead>
							<tr>
								<th>@Model.Header</th>
								@if(Model.HasSummary)
								{
									<th>Summary</th>
								}
							</tr>
						</thead>
						@foreach(IDocument doc in Model.Docs)
						{
							<tr>
								<td>@Context.GetTypeLink(doc)</td>
								@if(Model.HasSummary)
								{
									<td>@Html.Raw(doc["Summary"])</td>
								}
							</tr>
						}
					</table>
				</div>
			</div>
		</text>
	}
}