@section Header {
    @Html.Partial("_IndexHeader")
}

<div class="row">
    <div class="col-sm-8 right-border">
        @{
            bool first = true;
            foreach(IDocument doc in Documents[BlogKeys.Posts].Take(3))
            {                
                if (!first)
                {
                    <hr /> 
                }
                first = false;
                string lead = doc.String(BlogKeys.Lead);
                <div class="post-preview">
                    <a href="@Context.GetLink(doc)">
                        <h2 class="post-title">@doc.String(BlogKeys.Title)</h2>
                        @if(!string.IsNullOrWhiteSpace(lead))
                        {
                            <h3 class="post-subtitle">@lead</h3>
                        }
                    </a>
                    <p class="post-meta">Posted on @(doc.Get<DateTime>(BlogKeys.Published).ToLongDateString())</p>
                    @Html.Raw(doc.String(BlogKeys.Excerpt))             
                </div>       
            }
        }
    </div>
    <div class="col-sm-4 sidebar">
        <hr class="visible-xs-block" />
        <h5>Tags</h5>
        <div>
            @foreach (IDocument tagDocument in Documents[BlogKeys.Tags].OrderByDescending(x => x.DocumentList(BlogKeys.Posts).Count()).Take(10))
            { 
                string tag = tagDocument.String(BlogKeys.Tag);
                string postCount = tagDocument.DocumentList(BlogKeys.Posts).Count().ToString();
                <a role="button" href="@Context.GetLink(tagDocument)" class="btn btn-default btn-sm"> @tag (@postCount)</a>
            }
        </div>
        <ul class="pager">
            <li class="next">
                <a href="/tags">View All Tags &rarr;</a>
            </li>
        </ul>
        <hr />
        <h5>Older Posts</h5>
        <ul class="list-unstyled">
            @foreach(IDocument doc in Documents[BlogKeys.Posts].Skip(3).Take(4))
            {        
                <li><a href="@Context.GetLink(doc)">@doc.String(BlogKeys.Title)</a></li>
            }
        </ul>
        <ul class="pager">
            <li class="next">
                <a href="@Context.GetLink("/posts")">Archive &rarr;</a>
            </li>
        </ul>

        @Html.Partial("_Sidebar")
    </div> 
</div>