<div class="row">
    <div class="12u">

        <!-- Characters -->
            <section>
                <header class="major">
                    <h2>Characters</h2>
                </header>
                <div class="row">
                @foreach(IDocument character in Documents["Characters"].OrderBy(x => x["name"]))
                {                
                    <div class="4u">
                        <section class="box">
                            <span class="image featured"><img src="@character["image"]" alt="" /></span>
                            <header>
                                <h3>@character["name"]</h3>
                            </header>
                            <p>@character["description"]</p>
                        </section>
                    </div>
                }
                </div>
            </section>

    </div>
</div>
<div class="row">
    <div class="12u">

        <!-- Blog -->
        <section>
            <header class="major">
                <h2>Recent Episodes</h2>
            </header>
            <div class="row">
                @foreach(IDocument post in Documents["Content"].Where(x => x.String("collection") == "featured"))
                {
                    <div class="6u">
                        <section class="box">
                            <a href="@Context.GetLink(post)" class="image featured"><img src="@post["banner"]" alt="" /></a>
                            <header>
                                <h3>@post["title"]</h3>
                                <p>Posted @post["date"]</p>
                            </header>
                            <p>@Html.Raw(post["Excerpt"])</p>
                            <footer>
                                <ul class="actions">
                                    <li><a href="@Context.GetLink(post)" class="button icon fa-file-text">Continue Reading</a></li>
                                </ul>
                            </footer>
                        </section>
                    </div>
                }
            </div>
        </section>

    </div>
</div>