@Html.Partial("Section\\_Summary")
@{
	IDocument containingAssembly = Model.Get<IDocument>("ContainingAssembly");
	IDocument containingNamespace = Model.Get<IDocument>("ContainingNamespace");
	IDocument containingType = Model.Get<IDocument>("ContainingType");
	if(containingAssembly != null
		|| containingNamespace != null 
		|| containingType != null)
	{
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal">				
					@if(containingAssembly != null)
					{	
						<dt>Assembly</dt>
						<dd>@Context.GetTypeLink(containingAssembly)</dd>
					}

					@if(containingNamespace != null)
					{		
						<dt>Namespace</dt>
						<dd>@Context.GetTypeLink(containingNamespace)</dd>
					}
					
					@if(containingType != null)
					{
						<dt>Containing Type</dt>
						<dd>@Context.GetTypeLink(containingType)</dd>		
					}
				</dl>
			</div>
		</div>
	}
}

@Html.Partial("Section\\_Syntax")
@Html.Partial("Section\\_Examples")
@Html.Partial("Section\\_Remarks")
@Html.Partial("Section\\_Attributes")
@Html.Partial("Section\\_ConstantValue")
@Html.Partial("Section\\_SeeAlso")