@{
	Layout = "/_Master.cshtml";
	
	IDocument containingType = Model.Get<IDocument>("ContainingType");
	string containingTypeString = string.Empty;
	while(containingType != null)
	{
		containingTypeString = containingTypeString + containingType.String("DisplayName") + ".";
		containingType = containingType.Get<IDocument>("ContainingType");
	}
	ViewData[Keys.Title] = "API - " + containingTypeString + Model["DisplayName"] + " " + Model["SpecificKind"];
}

@section Infobar {	
	<div id="infobar-headings"></div>
}

@section Search {	
	@if(Context.GlobalMetadata.Get<bool>(DocsKeys.SearchIndex))
	{
		<script src="/assets/js/lunr.min.js"></script>
		<script src="/assets/js/searchIndex.js"></script>
		<div class="sidebar-form">
			<div class="input-group">
				<input type="text" name="search" id="search" class="form-control" placeholder="Search Types...">
				<span class="input-group-btn">
					<button class="btn btn-flat"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</div>
		<div id="search-results">
		</div>
		<hr />
		<script>
			function runSearch(query){
				$("#search-results").empty();			
				if( query.length < 2 ){
					return;
				}			
				var results = searchModule.search(query);
				var listHtml = "<ul class='sidebar-menu'>";	
				listHtml += "<li class='header'>Type Results</li>";	
				if(results.length == 0 ){
					listHtml += "<li>No results found</li>";
				} else {					
					for(var i = 0; i < results.length; ++i){
						var res = results[i];
						listHtml += "<li><a href='" + res.url + "'>" + res.title + "</a></li>";
					}				
				}
				listHtml += "</ul>";				
				$("#search-results").append(listHtml);
			}

			$(document).ready(function(){
				$("#search").on('input propertychange paste', function() {
					runSearch($("#search").val());
				});
			});
		</script>
	}
}

@section Sidebar {
	@Html.Partial("Sidebar/_" + Model.String("Kind"))
}

<section class="content-header">
	@{
		containingType = Model.Get<IDocument>("ContainingType");
		while(containingType != null)
		{
			<h3>@Context.GetTypeLink(containingType).</h3>
			containingType = containingType.Get<IDocument>("ContainingType");
		}
	}
	<h1>@Model.Name() <small>@Model["SpecificKind"]</small></h1>
</section>
<section class="content">
	@Html.Partial("_ApiBeforeContent")
	@RenderBody()
	@Html.Partial("Kind/_" + Model.String("Kind"))
	@Html.Partial("_ApiAfterContent")
</section>
