@{
	Layout = "/_Master.cshtml";
	
	IDocument containingType = Model.Get<IDocument>("ContainingType");
	string containingTypeString = string.Empty;
	while(containingType != null)
	{
		containingTypeString = containingTypeString + containingType.String("DisplayName") + ".";
		containingType = containingType.Get<IDocument>("ContainingType");
	}
	ViewData[Keys.Title] = "API - " + containingTypeString + Model["DisplayName"] + " " + Model["SpecificKind"];
}

@section Infobar {	
	<div id="infobar-headings"></div>
}

@section Sidebar {
	@Html.Partial("Sidebar/_" + Model.String("Kind"))
}

<section class="content-header">
	@{
		containingType = Model.Get<IDocument>("ContainingType");
		while(containingType != null)
		{
			<h3>@Context.GetTypeLink(containingType).</h3>
			containingType = containingType.Get<IDocument>("ContainingType");
		}
	}
	<h1>@Model.Name() <small>@Model["SpecificKind"]</small></h1>
</section>
<section class="content smaller">
	@Html.Partial("_ApiBeforeContent")
	@RenderBody()
	@Html.Partial("Kind/_" + Model.String("Kind"))
	@Html.Partial("_ApiAfterContent")
</section>
