@{
	Layout = "/_Master.cshtml";
	ViewData[Keys.Title] = @Model.Get(Keys.Title, string.Empty);
}

@section Infobar {
	@if (IsSectionDefined("Infobar")) {
		RenderSection("Infobar");
	}
	else { 		
		@Html.Partial("Infobar/_Headings") 
	}
}

@section Sidebar {
	@if (IsSectionDefined("Sidebar")) {
		RenderSection("Sidebar");
	}
	else { 		
		@Html.Partial("Sidebar/_ChildPages") 
	}
}

@if(Model.Get<bool>(DocsKeys.NoContainer, false))
{
	@RenderBody()
}
else
{
	<section class="content-header">
		<h1>@ViewData[Keys.Title]</h1>
	</section>
	<section class="content">
		@RenderBody()
	</section>
}