@{
	Layout = "/_Master.cshtml";
	ViewData[Keys.Title] = @Model.Get(Keys.Title, string.Empty);
}

@section Infobar {
	@{
		string baseEditUrl = Context.GlobalMetadata.String(DocsKeys.BaseEditUrl);
		FilePath editFilePath = Model.FilePath(DocsKeys.EditFilePath);
		if(!string.IsNullOrWhiteSpace(baseEditUrl) && editFilePath != null)
		{
			string editUrl = baseEditUrl + editFilePath.FullPath;
			<div><p><a href="@editUrl"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit Content</a></p></div>
		}
	}
	<div id="infobar-headings"></div> 
}

@section Sidebar {
	@if (IsSectionDefined("Sidebar")) {
		RenderSection("Sidebar");
	}
	else { 		
		@Html.Partial("Sidebar/_ChildPages") 
	}
}

@if(Model.Get<bool>(DocsKeys.NoContainer, false))
{
	@RenderBody()
}
else
{
	<section class="content-header">
		<h1>@ViewData[Keys.Title]</h1>
	</section>
	<section class="content">
		@RenderBody()
	</section>
}