@{
	Layout = "/_Master.cshtml";
	ViewData[Keys.Title] = @Model.Get(Keys.Title, string.Empty);
}

@section Infobar {	
	@if (IsSectionDefined("Infobar")) {
		RenderSection("Infobar");
	}
	else { 			
		@Html.Partial("_Infobar") 
	} 
}

@section Search {
	@if (IsSectionDefined("Search")) {
		RenderSection("Search");
	}
}

@section Sidebar {
	@if (IsSectionDefined("Sidebar")) {
		RenderSection("Sidebar");
	}
	else { 		
		@Html.Partial("Sidebar/_ChildPages") 
	}
}

@if(Model.Bool(DocsKeys.NoContainer, false))
{
	@RenderBody()
}
else
{
	<section class="content-header">
		<h1>@ViewData[Keys.Title]</h1>
	</section>
	<section class="content">
		@RenderBody()
	</section>
}