@{
	Layout = "/_Master.cshtml";
	ViewData[DocsKeys.Title] = @Model.Get(DocsKeys.Title, string.Empty);
}

@section Sidebar {
	@if (IsSectionDefined("Sidebar")) {
		RenderSection("Sidebar");
	}
	else { 		
		@Html.Partial("Sidebar/_ChildPages") 
	}
}

@if(Model.Get<bool>(DocsKeys.NoContainer, false))
{
	@RenderBody()
}
else
{
	<section class="content-header">
		<h1>@ViewData[DocsKeys.Title]</h1>
	</section>
	<section class="content">
		@RenderBody()
	</section>
}