<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="description" content="@Context.String(DocsKeys.Description)" />
        <meta name="keywords" content="static content generator,static site generator,static site,HTML,web development,.NET,C#,Razor,Markdown,YAML" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <title>@Context.String(DocsKeys.SiteTitle, "Docs") - @ViewData[Keys.Title]</title>
        <link href="/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="/assets/css/AdminLTE.css" rel="stylesheet" />
        <link href="/assets/css/theme.css" rel="stylesheet" />
        <link href="/assets/css/prettify.css" rel="stylesheet">
        <link href="/assets/css/github.css" rel="stylesheet">
        <link href="https://cdn.rawgit.com/knsv/mermaid/0.5.8/dist/mermaid.css" rel="stylesheet">
        <link href="/assets/css/master.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <script src="/assets/js/jQuery-2.2.3.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>        
        <script src="/assets/js/app.min.js"></script>         
        <script src="/assets/js/prettify.js"></script>   
        <script src="/assets/js/jquery.slimscroll.min.js"></script>
        <script src="https://cdn.rawgit.com/knsv/mermaid/0.5.8/dist/mermaid.min.js"></script>
        <!--[if lt IE 9]>
        <script src="/Scripts/html5shiv.min.js"></script>
        <script src="/Scripts/respond.min.js"></script>
        <![endif]-->  

        @Html.Partial("_Head")
    </head>
    @{
        string layoutTopNav = Model.Get<bool>(DocsKeys.NoSidebar, false) ? "layout-top-nav" : string.Empty;
        string noGutter = Model.Get<bool>(DocsKeys.NoGutter, false) ? "no-gutter" : string.Empty;
    }
    <body class="hold-transition wyam layout-boxed @layoutTopNav @noGutter" onload="prettyPrint()">    
        <div class="top-banner"></div>
        <div class="wrapper">
            <!-- Header -->
            <header class="main-header">   
                     
                <a href="/" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img src="/assets/img/logo.png"></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img src="/assets/img/logo.png"></span>
                </a>   
                         
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    @if(!Model.Get<bool>("NoSidebar", false))
                    {
                        <a href="#" class="sidebar-toggle visible-xs-block" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle side menu</span>
                            <i class="fa fa-chevron-circle-right"></i>
                        </a>
                    }
                                        
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle side menu</span>
                            <i class="fa fa-chevron-circle-down"></i>
                        </button>
                    </div>
            
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">                            
                            @{
                                List<Tuple<string, string>> pages = Context
                                    .Documents[DocsPipelines.Pages]
                                    .Select(x => Tuple.Create(x.String(Keys.Title), Context.GetLink(x)))
                                    .OrderBy(x => x.Item1)
                                    .ToList();
                                pages.Add(Tuple.Create("API", Context.GetLink(Context.FilePath(DocsKeys.ApiPathPrefix))));
                                foreach(Tuple<string, string> page in pages)
                                {
                                    string active = Context.GetLink(Document).StartsWith(page.Item2) ? "active" : null;
                                    <li class="@active"><a href="@page.Item2">@page.Item1</a></li>
                                }
                            }
                        </ul>       
                    </div>
                    <!-- /.navbar-collapse -->
                
                    <!-- Navbar Right Menu -->
                    @*
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#">A Menu Item</a></li>
                            <li><a href="#">Another Item</a></li>
                            
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                    *@
                </nav>
            </header>
            
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar @(Model.Get<bool>("NoSidebar", false) ? "hidden" : string.Empty)">
                <section class="sidebar smaller">                    
                    @RenderSection("Search", false)
                    <!-- search form -->
                    @*
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                        </div>
                    </form>
                    *@
                    
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        @RenderSection("Sidebar", false)
                    </ul>
                </section>                
            </aside>
            
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                @RenderBody()                
            </div>           
            
            <!-- Footer -->
            <footer class="main-footer">
            </footer>
            
            @*
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                
            </aside>
            <!-- Add the sidebar's background. This div must be placed
                immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
            *@
        </div>
        <div class="wrapper bottom-wrapper">
            <footer class="bottom-footer">
                @Html.Partial("_Footer")
            </footer>
        </div>
        <script>
            $(document).load(function() {
                mermaid.initialize();
            });
        </script>
    </body>
</html>