@section Header {
    @Html.Partial("_IndexHeader")
}

<div class="row">
    <div class="8u 12u$(medium)">
        @{
            foreach(IDocument doc in Model.DocumentList(Keys.PageDocuments))
            {                
                string lead = doc.String(BlogKeys.Lead);
                <div class="content">
                    <a href="@Context.GetLink(doc)">
                        <header class="major">
                            <h2>@doc.String(BlogKeys.Title)</h2>                                
                            @if(!string.IsNullOrWhiteSpace(lead))
                            {
                                <h3>@lead</h3>
                            }
                        </header>
                    </a>
                    <p>Posted on @(doc.Get<DateTime>(BlogKeys.Published).ToLongDateString())</p>
                    @if(Context.Bool(BlogKeys.IndexFullPosts))
                    {
                        @Html.Raw(doc.Content)
                    }
                    else
                    {
                        @Html.Raw(doc.String(BlogKeys.Excerpt))
                    }            
                </div>       
            }
            <ul class="actions">            
                @if(Model.Bool(Keys.HasPreviousPage))
                {
                    <li>
                        <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))" class="button"><span aria-hidden="true">&larr;</span> Newer</a>
                    </li>
                }  
                @if(Model.Bool(Keys.HasNextPage))
                {
                    <li>
                        <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))" class="button">Older <span aria-hidden="true">&rarr;</span></a>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="4u 12u$(medium)">
        <h5>Tags</h5>
        <ul class="icons">
            @foreach (IDocument tagDocument in Documents[Blog.Tags]
                .GroupBy(x => x.String(BlogKeys.Tag)).Select(x => x.Where(p => p.Get<int>(Keys.CurrentPage) == 1).First())
                .OrderByDescending(x => x.Get<int>(Keys.TotalItems)).Take(10))
            {
                string tag = tagDocument.String(BlogKeys.Tag);
                string postCount = tagDocument.String(Keys.TotalItems);
                <li><a href="@(Context.GetLink(tagDocument)).html">@tag (@postCount)</a></li>
            }
        </ul>
        <ul class="actions small">
            <li><a href="@Context.GetLink("tags/index.html")" class="button small">View All Tags &rarr;</a></li>
        </ul>

        
        @if(!Context.Bool(BlogKeys.IndexPaging))
        {
            <h5>Older Posts</h5>
            <ul>
                @foreach(IDocument post in Documents[Blog.BlogPosts].Skip(Model.DocumentList(Keys.PageDocuments).Count).Take(4))
                {        
                    <li><a href="@Context.GetLink(post)">@post.String(BlogKeys.Title)</a></li>
                }
            </ul>
            @if(Context.Bool(BlogKeys.GenerateArchive))
            {
                <ul class="actions small">
                    <li><a href="@Context.GetLink(Context.String(BlogKeys.PostsPath))" class="button small">Archive &rarr;</a></li>
                </ul>
            }
        }

        @Html.Partial("_Sidebar")
    </div> 
</div>
