@model IDocument

<dl class="dl-horizontal">
    <dt><i class="fa fa-calendar"></i> Published</dt>
    <dd>@(Model.Get<DateTime>(DocsKeys.Published).ToLongDateString(Context))</dd>
    @if(Model.ContainsKey(DocsKeys.Category))
    {
        string link = Model.String(DocsKeys.Category).Replace(" ", "-").Replace("'", string.Empty);
        <dt><i class="fa fa-bookmark"></i> Category</dt>
        <dd><a href="@Context.GetLink("/blog/" + link)">@(Model.String(DocsKeys.Category))</a></dd>
    }    
    @if(Model.ContainsKey(DocsKeys.Author))
    {
        string link = Model.String(DocsKeys.Author).Replace(" ", "-").Replace("'", string.Empty);
        <dt><i class="fa fa-user"></i> Author</dt>
        <dd><a href="@Context.GetLink("/blog/author/" + link)">@(Model.String(DocsKeys.Author))</a></dd>
    }  
</dl>