<html>
	<head>
		<title>Index - Page @Model["CurrentPage"]</title>
	</head>
	<body>
		<h1>@Model["GroupKey"] Page @Model["CurrentPage"] of @Model["TotalPages"]</h1>
		@foreach(IDocument doc in Model.Get<IEnumerable<IDocument>>("PageDocuments"))
		{
			<div><a href="@doc.String("DestinationFileName")">@Html.Raw(doc.Content)</a></div>
			<hr />
		}
		<div>
			<span>Pages: </span>
			@for(int page = 1 ; page <= @Model.Get<int>("TotalPages") ; page++)
			{
				<span>
					@if(page == @Model.Get<int>("CurrentPage"))
					{
						<strong>Page @(page)</strong>
					}	
					else
					{
						string pageLink = string.Format("archive-{0}-{1}.html", @Model["GroupKey"], page);
						<a href="@pageLink">Page @(page)</a>
					}
					&nbsp;&nbsp;
			 	</span>
			}
		</div>
		<hr />
		<div>
			<span>Colors: </span>
			@foreach(string groupKey in Documents.FromPipeline("Archive").Select(x => x.String("GroupKey")).Distinct().OrderBy(x => x))
			{
				<span>
					@if(groupKey == @Model.String("GroupKey"))
					{
						<strong>@groupKey</strong>
					}	
					else
					{
						string groupLink = string.Format("archive-{0}-1.html", groupKey);
						<a href="@groupLink">@groupKey</a>
					}
					&nbsp;&nbsp;
			 	</span>				
			}
		</div>
	</body>
</html>