@{
  Layout = "_LayoutBase";
    var postPages = Model.DocumentList(Keys.PageDocuments);
}

<section class="previews">
    
  @Html.Partial("_PostsHeader",postPages.Select(p => p.WithoutSettings.String(BlogKeys.Image) ?? "/assets/images/background.jpg"))

  <div>
    <header>
      <ul class="tabs">
        <li class="tabs__item">Posts</li>
        <li class="tabs__item">Tags</li>
      </ul>
    </header>
<div class="tab">
    @Html.Partial("_PostsSection",postPages)
    @Html.Partial("_Pagination") 
<!--page footer -->
@Html.Partial("_PageFooter", true)
    </div>
    @Html.Partial("_TagSection") 
  </div>
 
</section> 