@{
    Layout="_LayoutBase";
    var image = Model.Get<string>(BlogKeys.Image) ?? "//unsplash.it/2000/1200/?random" ;
}
<article>

  <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
    <a class="nav nav--white" href="@Context.GetLink(Context.String(Keys.Host))">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>Back to Posts</span>
    </a>
    <figure class="absolute-bg mast__img" style="background-image: url('@image');"></figure>
    <div class="mast__container">
      <span>Welcome to</span>
      <h1>@Context.String(BlogKeys.Description)</h1>
    @if(Context.String(BlogKeys.Intro) != null)
    {            
        @if(Context.String(BlogKeys.Description) != null)
        {
            <hr class="small">
        }
        <span class="subheading">@Context.String(BlogKeys.Intro)</span>
    }
       <h2>@Model.WithoutSettings.String(BlogKeys.Title)</h2>
    </div>
  </header>
  <section class="section-padding bg-grey">
    <div class="post">
      @RenderBody() 
    </div>
  </section>

</article>
@Html.Partial("_PageFooter", false)