@{
  Random rnd = new Random();
    Layout="_LayoutBase";
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags) ?? new string[] {};
    var image = Model.Get<string>(BlogKeys.Image) ?? "//unsplash.it/2000/1200/?random&sig=" + rnd.Next();
      var nextPost = Documents[Blog.BlogPosts].OrderBy(p => p.Get<DateTime>(BlogKeys.Published)).SkipWhile(x => !x.Source.Equals(Model.Source)).Skip(1).FirstOrDefault();
        var nextPostImage = "//unsplash.it/2000/1200/?random&sig=" + rnd.Next();
        if(nextPost != null){
          nextPostImage = nextPost.Get<string>(BlogKeys.Image) ?? nextPostImage;
        }
}
<article>

  <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
    <a class="nav nav--white" href="@Context.GetLink(Context.String(Keys.Host))">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>Back to Posts</span>
    </a>
    <figure class="absolute-bg mast__img" style="background-image: url('@image');"></figure>
    <div class="mast__container">
      <span><time datetime="@Published.ToString("YYYY-MM-DD")">@Published.ToString("MMM dd yyyy")</time></span>
       <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>
      @if(Tags.Any()){
        <span>
          in 
          @foreach (string tag in Tags.OrderBy(x => x))
            {
                IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) == tag && x.Get<int>(Keys.CurrentPage) == 1);
                if(tagDocument != null)
                {                
                    <a class="nav--white" href="@Context.GetLink(tagDocument)">@tag</a>
                }
            }
        </span>
      }
    </div>
  </header>
  <section class="section-padding bg-grey">
    <div class="post">
      @RenderBody() 
    </div>
          
  </section>

</article>
@if(nextPost != null){
 <section class="next">
    <a class="next__link" href="@Context.GetLink(nextPost)" style="background-image: url('@nextPostImage');">
      <div class="next__container">
        <span>Read Next</span>
        <h2>@nextPost.WithoutSettings.String(BlogKeys.Title)</h2>
      </div> 
    </a>
  </section>
}

@Html.Partial("_PageFooter", false)