Title: Chapters
---
<section id="features">
    @if(Context.ContainsKey(BookSiteKeys.ChaptersIntro))
    {
        <header class="style1">
            <p>@Context.String(BookSiteKeys.ChaptersIntro)</p>
        </header>
    }
    <div class="feature-list">
        @foreach(IDocument chapter in Documents[BookSite.Chapters])
        {
            <section>
                <h3 class="chapter" data-chapter="@(chapter.Get<int>(BookSiteKeys.ChapterNumber))">
                    @if(!string.IsNullOrWhiteSpace(chapter.Content))
                    {
                        <a href="@Context.GetLink(chapter)">@(chapter.String(BookSiteKeys.Title))</a>
                    }
                    else
                    {
                        <text>@(chapter.String(BookSiteKeys.Title))</text>
                    }
                </h3>
                @if(chapter.ContainsKey(BookSiteKeys.Description))
                {
                    <p>@(chapter.String(BookSiteKeys.Description))</p>
                }
            </section>    
        }
    </div>
</section>