@{
    List<IDocument> chapters = Documents[BookSite.Chapters].ToList();
}
<div class="title">Table Of Contents</div>
<div id="main" class="container">
    <section id="features">
        @if(Context.ContainsKey(BookSiteKeys.ChaptersIntro))
        {
            <header class="style1">
                <p>@Context.String(BookSiteKeys.ChaptersIntro)</p>
            </header>
        }
        <div class="feature-list">
            @for(int r = 0 ; r <= (chapters.Count - 1) / 2 ; r++)
            {
                <div class="row">
                    <div class="6u 12u(mobile)">
                        <section>
                            <h3 class="chapter" data-chapter="@(chapters[r].Get<int>(BookSiteKeys.ChapterNumber))">
                                @if(!string.IsNullOrWhiteSpace(chapters[r].Content))
                                {
                                    <a href="@Context.GetLink(chapters[r])">@(chapters[r].String(BookSiteKeys.Title))</a>
                                }
                                else
                                {
                                    <text>@(chapters[r].String(BookSiteKeys.Title))</text>
                                }
                            </h3>
                            @if(chapters[r].ContainsKey(BookSiteKeys.Description))
                            {
                                <p>@(chapters[r].String(BookSiteKeys.Description))</p>
                            }
                        </section>                                
                    </div>
                    <div class="6u 12u(mobile)">
                        @{
                            int chapterNumber = ((chapters.Count - 1) / 2)+r+1;
                        }
                        @if(chapterNumber < chapters.Count)
                        {
                            <section>
                                <h3 class="chapter" data-chapter="@(chapters[chapterNumber].Get<int>(BookSiteKeys.ChapterNumber))">
                                    @if(!string.IsNullOrWhiteSpace(chapters[chapterNumber].Content))
                                    {
                                        <a href="@Context.GetLink(chapters[chapterNumber])">@(chapters[chapterNumber].String(BookSiteKeys.Title))</a>
                                    }
                                    else
                                    {
                                        <text>@(chapters[chapterNumber].String(BookSiteKeys.Title))</text>
                                    }
                                </h3>
                                @if(chapters[chapterNumber].ContainsKey(BookSiteKeys.Description))
                                {
                                    <p>@(chapters[chapterNumber].String(BookSiteKeys.Description))</p>
                                }
                            </section> 
                        }
                    </div>
                </div>
            }
        </div>
    </section>
</div>