@Html.Partial("_Introduction")

@{
		string wrapperStyle = "style3";
}

@if(Documents[BookSite.BlogPosts].Any())
{
    <div class="wrapper @wrapperStyle">
				@Html.Partial("_BlogPosts")
    </div>
		wrapperStyle = wrapperStyle == "style2" ? "style3" : "style2";
}

@if(Documents[BookSite.Chapters].Any())
{
    <div class="wrapper @wrapperStyle">
				@Html.Partial("_Chapters")
    </div>
		wrapperStyle = wrapperStyle == "style2" ? "style3" : "style2";
}

@if(Documents[BookSite.Sections].Any())
{
		foreach(IDocument section in Documents[BookSite.Sections])
		{
			  <div class="wrapper @wrapperStyle">
					  <div class="title">@(section.String(Keys.Title))</div>
						<div class="container">
							  @Html.Raw(section.Content)
						</div>
			  </div>
				wrapperStyle = wrapperStyle == "style2" ? "style3" : "style2";
		}
}