@{ string Title = Model.String(BlogKeys.Title); string PageTitle = Context.String(BlogKeys.Title) + (string.IsNullOrWhiteSpace(Title)
? string.Empty : " - " + Title); }

<!DOCTYPE html>
<!--
	Phantom by HTML5 UP
	html5up.net | @@ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">

	<head>
		<title>@PageTitle</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />		
        <link href="/assets/css/highlight.css" rel="stylesheet">
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->

		<meta name="description" content="@Context.String(BlogKeys.Description)" />
		<link type="application/rss+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="/feed.rss" />
		<link type="application/atom+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="/feed.atom" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">

		<meta name="application-name" content="@Context.String(BlogKeys.Title)" />
		<meta name="msapplication-tooltip" content="@Context.String(BlogKeys.Title)" />
		<meta name="msapplication-starturl" content="/" />

		<meta property="og:title" content="@PageTitle" /> @*
		<meta property="og:image" content="@Blog.Image" /> *@
		<meta property="og:type" content="website" />
		<meta property="og:url" content="@Context.GetLink(Model, true)" />
		<!-- TODO: More social graph meta tags -->

        <script src="/assets/js/highlight.pack.js"></script>   
	</head>

	<body>
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">

					<!-- Logo -->
					<a href="/" class="logo">
						<span class="title">@Context.String(BlogKeys.Title)</span>
					</a>

					<!-- Nav -->
					<nav>
						<ul>
							<li><a href="#menu">Menu</a></li>
						</ul>
					</nav>

				</div>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul>
					@Html.Partial("_Navbar")
				</ul>
			</nav>

			<!-- Main -->
			<div id="main">
				<div class="inner">
					@if(IsSectionDefined("Header"))
					{
						@RenderSection("Header")
					}
					else
					{
						@Html.Partial("_Header")                                           
					}

					@if(Model.String(BlogKeys.Image) != null)
					{
						<span class="image main"><img src="@Model.String(BlogKeys.Image)" alt="Hero image" /></span>
					}
					
					<div id="content">
						@RenderBody()
					</div>
				</div>
			</div>

			<!-- Footer -->
			<footer id="footer">
				@Html.Partial("_Footer")
			</footer>

		</div>
		
		@Html.Partial("_Scripts")

		<!-- Scripts -->
		<script>hljs.initHighlightingOnLoad();</script>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="/assets/js/main.js"></script>

	</body>

</html>