@{
    var Lead = Model.String(BlogKeys.Lead);
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags);
}

<header>
    <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>
    @if(!string.IsNullOrWhiteSpace(Lead))
    {
        <p>@Lead</p>
    }                  
    @if (Published != default(DateTime))
    {
        <p><em>Published on @Published.ToLongDateString()</em></p>
    }
    @if (Tags != null)
    {
        <ul class="actions small">
            @foreach (string tag in Tags.OrderBy(x => x))
            {
                IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) == tag && x.Get<int>(Keys.CurrentPage) == 1);
                if(tagDocument != null)
                {                
                    <li><a role="button" href="@Context.GetLink(tagDocument)" class="button small">@tag</a></li>
                }
            }
        </ul>     
    } 
</header>