@section Header {
    @Html.Partial("_IndexHeader")
}

<div class="row">
    <div class="8u 12u$(medium)">
        @{
            foreach(IDocument doc in Documents[Blog.BlogPosts].Take(3))
            {                
                string lead = doc.String(BlogKeys.Lead);
                <div>
                    <a href="@Context.GetLink(doc)">
                        <h2>@doc.String(BlogKeys.Title)</h2>
                        @if(!string.IsNullOrWhiteSpace(lead))
                        {
                            <h3>@lead</h3>
                        }
                    </a>
                    <p>Posted on @(doc.Get<DateTime>(BlogKeys.Published).ToLongDateString(Context))</p>
                    @Html.Raw(doc.String(BlogKeys.Excerpt))             
                </div>       
            }
        }
    </div>
    <div class="4u 12u$(medium)">
        <h5>Tags</h5>
        <ul class="actions small">
            @foreach (IDocument tagDocument in Documents[BlogPipelines.Tags]
                .GroupBy(x => x.String(BlogKeys.Tag)).Select(x => x.Where(p => p.Get<int>(Keys.CurrentPage) == 1).First())
                .OrderByDescending(x => x.Get<int>(Keys.TotalItems)).Take(10))
            {
                string tag = tagDocument.String(BlogKeys.Tag);
                string postCount = tagDocument.String(Keys.TotalItems);
                <li><a role="button" href="@Context.GetLink(tagDocument)" class="button small">@tag (@postCount)</a></li>
            }
        </ul>
        <ul class="actions small">
            <li><a href="/tags" class="button small">View All Tags &rarr;</a></li>
        </ul>
        <h5>Older Posts</h5>
        <ul>
            @foreach(IDocument doc in Documents[Blog.BlogPosts].Skip(3).Take(4))
            {        
                <li><a href="@Context.GetLink(doc)">@doc.String(BlogKeys.Title)</a></li>
            }
        </ul>
        <ul class="actions small">
            <li><a href="@Context.GetLink(Context.String(BlogKeys.PostsPath))" class="button small">Archive &rarr;</a></li>
        </ul>

        @Html.Partial("_Sidebar")
    </div> 
</div>
