<ul>
    @foreach(var post in Model.DocumentList(Keys.PageDocuments)){

    <li>
        <a href="@Context.GetLink(post)">
            <h2>@post.WithoutSettings.String(BlogKeys.Title)</h2>
            @post.String(BlogKeys.Excerpt)
        </a>
    </li>

    }
</ul>

@if(Model.Bool(Keys.HasPreviousPage)) {
    <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))"><span aria-hidden="true">&larr;</span> Newer</a> 
} 

@if(Model.Bool(Keys.HasNextPage)) {
    <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))">Older <span aria-hidden="true">&rarr;</span></a> 
}